

<!-- Top Section -->
<app-top-section></app-top-section>
<!-- Top Section Ends -->

<!-- About Section -->
<app-about-section></app-about-section>
<!-- About Section Ends -->

<!-- Services Section -->
<app-what-i-do-section></app-what-i-do-section>
<!-- Services Section Ends -->

<!-- Skills Section -->
<app-skills-section></app-skills-section>
<!-- Skills Section Ends -->

<!-- Projects Section -->
<app-projects-section></app-projects-section>
<!-- Projects Section Ends -->

<!-- Contact Me Section -->
<app-contact-me-section></app-contact-me-section>
<!-- Contact Me Section Ends -->
