<section class="container-fluid home-section-top" id="home">
  <!-- Container -->
  <div
    class="container desc-container text-center d-flex justify-content-center align-items-center flex-column"
  >
    <!-- Title Container -->
    <div class="title-desc-container">
      <!-- Sub Heading -->
      <h2 class="home-section-mainTitleSub">Hi there my name is</h2>
      <!-- Sub Heading Ends -->

      <!-- Main Heading -->
      <h4 class="home-section-mainTitle">
        <span class="animated">M</span>
        <span class="animated">e</span>
        <span class="animated">l</span>
        <span class="animated">v</span>
        <span class="animated">i</span>
        <span class="animated">n</span>
        <span class="animated">a</span>
      </h4>
      <!-- Main Heading Ends -->

      <!-- Sub Heading -->
      <h2 class="mt-5 home-section-subTitle">I am Front End Web Developer</h2>
      <!-- Sub Heading Ends -->
    </div>
    <!-- Title Container Ends -->
  </div>
  <!-- Container Ends -->
</section>
