<section
  class="container-fluid about-section d-flex align-items-center"
  id="about"
>
  <!-- Container -->
  <div class="container">
    <!-- Row starts -->
    <div class="row about-section-row d-flex align-items-center">
      <!-- Main Heading -->
      <div class="col-12">
        <h1 class="mainTitle text-center pb-5">About me</h1>
      </div>
      <!-- Main Heading ends -->
      <!-- Profile image starts -->
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <!-- Profile image -->
        <img
          src="assets/images/img_photo.png"
          class="img-fluid profileImg"
          alt=""
        />
        <!-- Profile image -->
      </div>
      <!-- Profile image ends -->
      <!-- About me desc -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- Heading -->
        <h1 class="aboutMe-heading">Hi, I'm Melvina</h1>
        <!-- Heading ends -->
        <!-- Pagragraph -->
        <p class="about-pg">
          {{ aboutMeD }}
        </p>
        <!-- Pagragraph ends -->

        <!-- CV Button -->
        <a
          href="https://docs.google.com/document/d/1hpkwFqkyxQpTdNF2fESWyWXhBmd25u8uHckhsITLyzk/edit?usp=sharing"
        >
          <button mat-raised-button type="button" class="btn viewCvBtn">
            View CV
          </button>
        </a>
        <!-- CV Button ends -->
      </div>
      <!-- Col for about me text starts -->
    </div>
  </div>
  <!-- Container ends -->
</section>
